@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<script type="text/javascript">
    function login() {
      axios.post('/api/authentication/register').then(resp => console.log(resp));
    }
</script>

<h2>title</h2>

<form method="post" asp-controller="Authentication" asp-action="Register" class="form-group-lg form-horizontal">
    <button type="submit" class="btn btn-lg btn-success">Login</button>
</form>
<input type="button" value="Login" onclick="login()"/>